@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.parent .div1 {
  grid-column: 1/6;
}
.parent .div2 {
  grid-column: 1/6;
  grid-row: 2/2;
}
.parent .div3 {
  grid-column: 1/6;
  grid-row: 3/8;
}
.parent .div4 {
  grid-column: 1/6;
  grid-row: 8/20;
}

.div1 {
  max-height: 5rem;
  background-color: #212121;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.div1 .logo-empresa {
  width: 5rem;
  padding: 0.5rem;
}
.div1 .input-busqueda {
  width: 30rem;
}
.div1 .button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: #ec7259;
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: 0.2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: 0.5s;
}
.div1 .svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}
.div1 .bell path {
  fill: rgb(19, 19, 19);
}
.div1 .button:hover {
  background-color: #f0320a;
  transition-duration: 0.5s;
}
.div1 .button:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}
.div1 .button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}

.div2 {
  font-size: 1.1rem;
}
.div2 .mi-hover:hover {
  color: #f0320a;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.div2 .mi-ul {
  gap: 6rem;
  justify-content: center;
}
.div2 .mi-ul a {
  color: black;
}

.div3 .mi-carousel {
  height: 30rem;
}
.div3 .logos-carousel {
  width: 40rem;
  justify-self: center;
  border-radius: 2rem;
}

.div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.div4 .card-destacados {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1%;
}
.div4 .img-destacados {
  width: 11em;
  height: 11em;
}
.div4 .card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
.div4 .card::after {
  content: "Add to Cart";
  padding-top: 1.25em;
  padding-left: 1.25em;
  position: absolute;
  left: 0;
  bottom: -60px;
  background: #f0320a;
  color: #fff;
  height: 2.5em;
  width: 90%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0;
}
.div4 .card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}
.div4 .card .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}
.div4 .card:hover::after {
  bottom: 0;
  opacity: 1;
}
.div4 .card:active {
  transform: scale(0.98);
}
.div4 .card:active::after {
  content: "Added !";
  height: 3.125em;
}
.div4 .text {
  max-width: 55px;
}
.div4 .image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
