@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(20, 1fr);
}
.parent .div1 {
  grid-column: 1/6;
}
.parent .div2 {
  grid-column: 1/6;
  grid-row: 2/2;
}
.parent .div3 {
  grid-column: 1/6;
  grid-row: 3/8;
}
.parent .div4 {
  grid-column: 1/6;
  grid-row: 8/20;
}

.parent .div1 {
  max-height: 5rem;
  background-color: #212121;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.parent .div1 .logo-empresa {
  width: 5rem;
  padding: 0.5rem;
}
.parent .div1 .mi-nav .mi-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}
.parent .div1 .mi-nav .mi-form .input-busqueda {
  width: 30rem;
}
.parent .div1 .mi-nav .mi-form .button {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: #ec7259;
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: 0.5s;
}
.parent .div1 .mi-nav .mi-form .button .svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}
.parent .div1 .mi-nav .mi-form .button:hover {
  background-color: #f0320a;
  transition-duration: 0.5s;
}
.parent .div1 .mi-nav .mi-form .button:active {
  transform: scale(0.97);
  transition-duration: 0.2s;
}
.parent .div1 .mi-nav .mi-form .button:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}
.parent .div1 .mi-nav .mi-form .a {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.75em;
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.3) inset;
  color: #fdea7b;
  display: inline-flex;
  align-items: center;
  margin: auto;
  padding: 0.15em;
  width: 3em;
  height: 1.5em;
  transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.parent .div1 .mi-nav .mi-form .a:before,
.parent .div1 .mi-nav .mi-form .a:after {
  content: "";
  display: block;
}
.parent .div1 .mi-nav .mi-form .a:before {
  background-color: #d7d7d7;
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  z-index: 1;
}
.parent .div1 .mi-nav .mi-form .a:after {
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.15) 0) 0 50%/50% 100%, repeating-linear-gradient(90deg, #bbb 0, #bbb, #bbb 20%, #999 20%, #999 40%) 0 50%/50% 100%, radial-gradient(circle at 50% 50%, #888 25%, transparent 26%);
  background-repeat: no-repeat;
  border: 0.25em solid transparent;
  border-left: 0.4em solid #d8d8d8;
  border-right: 0 solid transparent;
  transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
  transform: translateX(-22.5%);
  transform-origin: 25% 50%;
  width: 1.2em;
  height: 1em;
  box-sizing: border-box;
}
.parent .div1 .mi-nav .mi-form .a:checked {
  background-color: rgba(0, 0, 0, 0.45);
  box-shadow: 0.125em 0.125em 0 0.125em rgba(0, 0, 0, 0.1) inset;
}
.parent .div1 .mi-nav .mi-form .a:checked:before {
  background-color: currentColor;
  transform: translateX(125%);
}
.parent .div1 .mi-nav .mi-form .a:checked:after {
  border-left-color: currentColor;
  transform: translateX(-2.5%) rotateY(180deg);
}
.parent .div1 .mi-nav .mi-form .a:focus {
  outline: 0;
}
.parent .div1 .mi-nav .mi-form .carritoBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;
  gap: 0.5em;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}
.parent .div1 .mi-nav .mi-form .carritoBtn .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  line-height: 1;
  margin: 0;
  padding: 0;
}
.parent .div1 .mi-nav .mi-form .carritoBtn .cantidad {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  margin-top: 0.2em;
  margin-bottom: 0;
  text-align: center;
}
.parent .div1 .mi-nav .mi-form .carritoBtn svg path {
  transition: 400ms;
  height: 1.5em;
  width: 1.5em;
  display: block;
}
.parent .div1 .mi-nav .mi-form .carritoBtn:hover {
  background-color: transparent;
}
.parent .div1 .mi-nav .mi-form .carritoBtn:hover .text {
  color: #f0320a;
}
.parent .div1 .mi-nav .mi-form .carritoBtn:hover svg path {
  fill: #f0320a;
}
.parent .div1 .mi-nav .mi-form .bell path {
  fill: rgb(19, 19, 19);
}

.parent .div2 {
  font-size: 1.1rem;
}
.parent .div2 .mi-hover {
  transition: all 0.3s ease;
}
.parent .div2 .mi-hover:hover {
  color: #f0320a;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}
.parent .div2 .mi-ul {
  gap: 6rem;
  justify-content: center;
}
.parent .div2 .mi-ul a {
  color: black;
}

.parent .div3 .mi-carousel {
  height: 30rem;
}
.parent .div3 .logos-carousel {
  width: 40rem;
  justify-self: center;
  border-radius: 2rem;
}

.div4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.div4 .card-destacados {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1%;
}
.div4 .img-destacados {
  width: 11em;
  height: 11em;
}
.div4 .card {
  position: relative;
  width: 11.875em;
  height: 16.5em;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
}
.div4 .card::after {
  content: "Agregar al carrito";
  padding-top: 1.25em;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #f0320a;
  color: #fff;
  height: 2.8em;
  width: 100%;
  transition: all 80ms;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
}
.div4 .card .title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 1.875em;
  font-weight: 400;
  color: #000;
}
.div4 .card .price {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 0.9em;
  position: absolute;
  left: 0.625em;
  bottom: 0.625em;
  color: #000;
}
.div4 .card:hover::after {
  bottom: 0;
  opacity: 1;
}
.div4 .card:active {
  transform: scale(0.98);
}
.div4 .card:active::after {
  content: "¡Agregado!";
  height: 3.125em;
}
.div4 .text {
  max-width: 55px;
}
.div4 .image {
  background: rgb(241, 241, 241);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
