.parent {
    .div3 {
        .mi-carousel {
            height: 30rem;
        }
        .logos-carousel {
            width: 40rem;
            justify-self: center;
            border-radius: 2rem;
        }
    }
}


