.div1 {
    
    color: #aaa9a9;
    background-color: black;
    display: flex;
    gap: 3rem;
    justify-content: center;
    .div-logos-marcas {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .logos-marcas {
            max-width: 4rem;
        }
    }  
    .div-contacto {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        .logos-contactos {
            width: 1.6rem;
            height: 1.6rem;
        }
        p {
            margin: 0.5rem;
        }
    }
    
}