.div1 {
    background-color: #212121;
    display: flex;
    gap: 3rem;
    justify-content: center;
    .mi-nav {
        img {
            width: 2rem;
        }
    }
    .mi-input {
        width: 30rem;
    }
    
}