.div1 {
    max-width: 100%;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .logo-empresa {
        width: 5rem;
    }
    .input-busqueda {
        width: 25rem;
        height: 3rem;
    }
    .logo-lupa {
        width: 2rem;
    }
    
}