
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik", sans-serif;
    box-sizing: border-box

}
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

@import "grid";
@import "grid1";
@import "grid2";
@import "grid3";
@import "grid4";